## how to create

In [12]:
import pandas as pd
import numpy as np

data = np.random.random((3,3))
df1 = pd.DataFrame(data,columns=["a","b","c"],index=["x1","x2","x3"])
df2 = pd.DataFrame(data,columns=["a","b","c"],index=["x1","x2","x3"])
combine = pd.concat({"one": df1,"two":df2})
combine

               a         b         c
one x1  0.298178  0.824125  0.148262
    x2  0.007086  0.408838  0.091298
    x3  0.358687  0.311498  0.481169
two x1  0.298178  0.824125  0.148262
    x2  0.007086  0.408838  0.091298
    x3  0.358687  0.311498  0.481169

## how to handle

In [18]:
new_df1 = combine.loc["one"]
new_df1

           a         b         c
x1  0.298178  0.824125  0.148262
x2  0.007086  0.408838  0.091298
x3  0.358687  0.311498  0.481169

In [33]:
index = combine.index
x = np.array([col for (col,_) in combine.index ])
np.unique(x)

array(['one', 'two'], dtype='<U3')